<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.spacetrader">

    <application
        android:name=".SpaceTrader"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SpaceTrader"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.MainActivity"
            android:label="SpaceTrader"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ConfigActivity"
            android:label="@string/title_activity_config"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".view.MainActivity">
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="Load Game"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".view.LoginActivity">
        </activity>
        <activity
            android:name=".view.UniverseMapActivity"
            android:label="Map"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".view.ConfigActivity">
        </activity>
        <activity
            android:name=".view.MarketActivity"
            android:label="Market"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".view.UniverseMapActivity">
        </activity>
        <activity
            android:name=".view.TravelActivity"
            android:label="Travel"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".view.UniverseMapActivity">
        </activity>
        <activity
            android:name=".view.ShipInfoActivity"
            android:label="ShipInfo"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".view.UniverseMapActivity">
        </activity>
        <activity
            android:name=".view.PoliceActivity"
            android:label="Police"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".view.TravelActivity">
        </activity>
        <activity
            android:name=".view.GoblinActivity"
            android:label="Goblin"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".view.TravelActivity">
        </activity>
        <activity
            android:name=".view.ShipyardActivity"
            android:label="Goblin"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".view.ShipInfoActivityActivity">
        </activity>

    </application>

</manifest>